[submodule "in-class/C++2_class6/sqrtpow/googletest"]
	path = in-class/C++2_class6/sqrtpow/googletest
	url = https://github.com/google/googletest.git
[submodule "LG-Cafe-2/googletest"]
	path = LG-Cafe-2/googletest
	url = https://github.com/google/googletest.git
